body {
  font-family: "Roboto", serif;
  font-style: normal;
  background-color: #f5f5f5;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
    url(/images/beyonce-hero-picture.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
  padding: 280px 0;
}

header h1 {
  font-family: "Playfair Display", serif;
  font-size: 128px;
  font-weight: bold;
  margin: 0;
}

header h2 {
  font-size: 40px;
  font-weight: 300;
  margin: 0;
}

header h3 {
  font-size: 24px;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-size: 16px;
  background-color: #885df1;
  color: #fff;
  padding: 16px 32px;
  border-radius: 50px;
  text-decoration: none;
  margin-top: 32px;
  display: inline-block;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
}
