body {
  font-family: "Roboto", serif;
  font-style: normal;
  background-color: #020403;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(2, 4, 3, 0.2), rgba(2, 4, 3, 0.3)),
    url(/images/beyonce-hero-picture.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  color: #fff;
  padding: 280px 0;
}

header h1 {
  font-family: "Playfair Display", serif;
  font-size: 128px;
  font-weight: bold;
  margin: 0;
}

header h2 {
  font-size: 40px;
  font-weight: 300;
  margin: 0;
}

header h3 {
  font-size: 24px;
  letter-spacing: 5px;
  margin: 0;
}

header a {
  font-size: 16px;
  background-color: #885df1;
  color: #fff;
  padding: 16px 32px;
  border-radius: 50px;
  text-decoration: none;
  margin-top: 32px;
  display: inline-block;
}

section {
  max-width: 1200px;
  margin: 0 auto;
}

footer {
  background-image: linear-gradient(rgba(2, 4, 3, 0.8), rgba(2, 4, 3, 0.8)),
    url(/images/beyonce-footer.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  padding: 80px 0;
}

footer ul {
  padding: 0;
}

footer li {
  margin: 0;
  list-style: none;
  padding: 0;
}

footer h3 {
  font-size: 24px;
}

footer p {
  font-size: 16px;
  line-height: 24px;
  margin-right: 20px;
}

footer a {
  color: #fff;
}

footer .grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
}

.coder {
  text-align: center;
  padding-top: 40px;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
}
